<div class="container">
  <div class="row header">
    <h1 class="title col-sm-12 col-md-12 col-lg-3 col-xl-3">Pokedex</h1>
    <search (onSearchPokemon)="onSearchPokemonOutput($event)"></search>
  </div>
  <loading *ngIf="loading"></loading>
  <pokemon-list
    *ngIf="!isSearching"
    [pokemonsList]="pokemonsList"
    (onDetailsPokemon)="onDetail($event)"
    (onNextPage)="nextPage($event)"
    (onPrevPage)="prevPage($event)"
  ></pokemon-list>
</div>

<div *ngIf="isSearching" class="pokemon__list">
  <search-result [searchPokemon]="searchPokemon"></search-result>
</div>
